<%= form_for :category, url: categories_path do |f| %>

    <% if @category.errors.any? %>
        <div class="errors">
          Total errors: <%= @category.errors.count %>
          <ul>
            <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :user %><br />
      <%= f.collection_select :user_id, User.all, :id, :first_name %>
    </div>

    <div>
      <%= f.submit %>
    </div>
<% end %>
